.addBtn {
    float: right;
    padding: 4px 0px 0px 5px;
}

.pure-list {
    list-style-type: none;
}

.pure-list:first-child{
    padding: 0px;
}

.pure-list .pure-list {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
    overflow: hidden;
}

.pure-list .pure-list.hidden-list {
    max-height: 0px;
    transition: max-height 0.15s ease-out;
}

.pure-list .show-subcat-btn {
    min-width: 8%;
    min-height: 1px;
    display: block;
    float: left;
}

.task-item {
    min-height: 42px;
}

.task-item .task-title{
    min-width: 40%;
    float: left;
    text-align: right;
}

.task-item .fa {
    cursor: pointer;
}