.undoRedo {
    margin-top: 27px;
}

.undoRedo .item {
    cursor: pointer;
}


.undoRedo .fa-rotate-left:before, .fa-undo:before {
    font-weight: 700;
}


.todo-logo,.todo-logo:hover,.todo-logo:visited {
    color: black;
    text-decoration: none;
}
